/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;



.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
}

.slide-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  transform: translateX(calc(var(--offset) * -100%));
}

.slide {
  min-width: 100%;
  height: 300px;
  background: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
}

/* Handle direction */
.slide-container[data-direction="next"] {
  --offset: 1;
}

.slide-container[data-direction="prev"] {
  --offset: -1;
}